.about-us {
  background-color: $white;
  padding-top: 24px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 46px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 222px;
    padding-top: 29px;
    padding-bottom: 30px;
    margin-bottom: 2px;
  }
}

.about-us__text {
  font-family: $text;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 3px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    padding: 30px 0 46px 0;
    letter-spacing: -0.4px;
  }
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-left: 1px;
  }
}

.about-us__item {
  position: relative;
  padding: 55px 0 15px 0;

  @media (min-width: $tablet-width) {
    flex: 1 0 49%;
    padding-right: 1%;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-bottom: 30px;
  }
}

.about-us__item:nth-of-type(1) {
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    order: 1;
    letter-spacing: 0.2px;
  }
}

.about-us__item:nth-of-type(2) {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    order: 3;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.about-us__item:nth-of-type(3) {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    order: 5;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.about-us__item:nth-of-type(4) {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.2px;
  }
}

.about-us__item:nth-of-type(5) {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 30px;
    letter-spacing: 0.2px;
  }
}

.about-us__item:nth-of-type(6) {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    order: 6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    letter-spacing: 0.2px;
  }
}

.about-us__item-text {
  font-family: $text;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--ecology {
    &::before {
      top: 0;
      left: 10px;
      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-size: 32px 37px;

      @media (min-width: $tablet-width) {
        left: 9px;
      }

      @media (min-width: $desktop-width) {
        top: 2px;
      }
    }
  }

  &--style {
    &::before {
      left: 0;
      top: 2px;
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-size: 47px 27px;

      @media (min-width: $tablet-width) {
        left: 2px;
      }

      @media (min-width: $desktop-width) {
        top: 0;
        left: 0;
      }
    }
  }

  &--likes {
    &::before {
      background-image: url("../img/icon-feature-heart.svg");
      background-size: 33px 28px;
      left: 8px;
      top: 8px;
      width: 33px;
      height: 28px;

      @media (min-width: $tablet-width) {
        top: 5px;
        left: 9px;
      }

      @media (min-width: $desktop-width) {
        top: 2px;
        left: 7px;
      }
    }
  }

  &--handmade {
    &::before {
      background-image: url("../img/icon-feature-ball.svg");
      background-size: 34px 34px;
      left: 3px;
      top: 3px;
      width: 34px;
      height: 34px;

      @media (min-width: $desktop-width) {
        top: 5px;
      }
    }
  }

  &--support {
    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
      background-size: 54px 23px;
      left: -5px;
      top: 4px;
      width: 54px;
      height: 23px;
    }
  }

  &--gift {
    &::before {
      background-image: url("../img/icon-feature-gift.svg");
      background-size: 33px 32px;
      left: 3px;
      top: 4px;
      width: 33px;
      height: 32px;

      @media (min-width: $tablet-width) {
        top: 2px;
      }

      @media (min-width: $desktop-width) {
        top: 0;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
