$text-subtitle: Verdana,Geneva,Arial,sans-serif;
$text-buy: Verdana,Geneva,Arial,sans-serif;
$text-product: "Open Sans",Arial,Helvetica,sans-serif;
$text-product-color: #444444;
$title-color: #62d1ba;
$text-color: #000000;
$color-img: #f1f1f1;
$tablet-width: 768px;
$desktop-width: 1150px;
.best-product {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  width: auto;

  @media (min-width: $tablet-width) {
    padding: 45px 50px 10px 50px;
    margin-bottom: 22px;
  }
  @media (min-width: $desktop-width) {
    padding: 42px 0 42px 0;
    margin-bottom: 45px;
  }
}
.best-product:after {
  content: "";
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-size: 319px 100%;
  transform: rotate(180deg);
  display: block;
  height: 7px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    content: "";
    background-image: url(../img/bg-zigzag-line.svg);
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    min-width: 768px;
    height: 17px;
    max-height: 23px;
    margin: 0;
    padding-top: 2%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 1052px;
    height: 23px;
    margin: 0;
    margin-left: -526px;
    padding-top: 0;
    background-position: 50% 50%;
    transform: rotate(180deg);
  }
}
.best-product__text-cont {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.best-product__subtitle {
  flex: 0 0 100%;
  font-family: $text-subtitle;
  font-weight: 700;
  margin: 0 0 6px;
  color: $text-color;
  font-size: 43px;
  line-height: 50px;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    margin: 0;
    max-width: 500px;
  }
  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 57px;
    letter-spacing: -.2px;
    margin: 28px 0 53px 0;
  }
}
.best-product__title {
  font-family: $text-product;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-color;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 26px;
    max-width: 127px;
    line-height: 17px;
    text-align: center;
  }
  @media (min-width: $desktop-width) {
    padding: 20px 10px;
    margin: 23px 40px 0 39px;
    order: -1;
    font-size: 17px;
    text-align: center;
  }
}
.best-product__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: block;
  }
}
.best-product__product-cont {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    order: 3;
    margin-bottom: 45px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    margin-left: 176px;
    margin-bottom: 14px;
  }
}
.best-product__best {
  @media (min-width: $tablet-width) {
    padding-right: 6%;
    flex: 0 0 44%;
    margin-bottom: 124px; 
  }
  @media (min-width: $desktop-width) {
    padding-right: 6.4%;
    flex: 0 0 33.6%;
  }
}
.best-product__text {
  font-family: $text-product;
  text-align: left;
  color: $text-product-color;
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: -7px;
    margin-bottom: 36px;
  }
  @media (min-width: $desktop-width) {
    max-width: 292px;
    margin-bottom: 50px
  }
}
.best-product__wrapper {
  flex: 1 0 100%;
  text-align: center;
  margin: 0 auto;
}
.best-product__buy {
  font-family: $text-buy;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  padding-bottom: 26px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    flex: 0 0 43.5%;
    box-sizing: border-box;
    margin-top: -124px;
    min-height: 124px;
  }
  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    flex: 0 0 33.6%;
    min-height: 120px;
    font-size: 17px;
    margin-right: 18px;
  }
}
.best-product__btn {
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
.best-product__img-wrapper {
  flex: 1 0 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    flex-basis: auto;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 60%;
    width: 525px;
    position: absolute;
    top: 18px;
    right: 0;
    flex-shrink: 0;
    max-width: 525px;
    height: 636px;
    margin-bottom: 20px;
    padding-bottom: 0;
    z-index: -1;
  }
}
.best-product__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: $color-img;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: auto;
  }
}
.best-product__price {
  @media (min-width: $tablet-width) {
    padding: 15px 10px 34px 10px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}