.best-product {
  position: relative;
  padding-top: 22px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding: 38px 52px 30px 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
    padding-left: 78px;
    padding-bottom: 61px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;

    @media (min-width: $tablet-width) {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      left: 50px;
      right: 50px;
      background-size: 1050px 21px;
      background-position-x: -25px;
    }
  }
}

.best-product__text-cont {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 5px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    padding-left: 19px;
  }
}

.best-product__subtitle {
  font-family: $text;
  font-weight: 700;
  color: $black;
  font-size: 25px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 57px;
    order: 1;
    max-width: none;
    padding-left: 3px;
    letter-spacing: -0.8px;
  }
}

.best-product__title {
  font-family: $text;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $aquamarine-bottom;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 0;
    padding-right: 24px;
    max-width: 127px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 25px;
  }
}

.best-product__product-cont {
  position: relative;
  padding-top: 2px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 16px 378px 39px 2px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 147px;
    padding-right: 584px;
    padding-bottom: 36px;
  }
}

.best-product__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.best-product__text {
  font-family: $text;
  text-align: left;
  color: $gray;
  font-size: 15px;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    letter-spacing: -0.1px;
  }
}

.best-product__img-wrapper {
  width: 260px;
  height: 315px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 24px;
    right: 0;
    width: 333px;
    height: 404px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    z-index: -1;
    top: -143px;
  }
}

.best-product__img {
  display: block;
  width: 260px;
  height: auto;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    width: 333px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.best-product__price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
    padding: 1px 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
    margin-bottom: 33px;
  }
}

.best-product__btn {
  @media (min-width: $desktop-width) {
    min-width: 292px;
  }
}
