$text-btn: "Open Sans",Arial,Helvetica,sans-serif;


$color-w: #ffffff;
$color-gr: #444444;
$color-act: #7c7c7c;
.btn {
  font-family: $text-btn;
  display: block;
  box-sizing: border-box;
  padding: 14px 10px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid $color-gr;
  font: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $color-gr;
  background-color: $color-w;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-w;
    background-color: $color-gr;
  }

  &:active {
    color: $color-act;
    background-color: $color-gr;
  }
}