$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
}
.main {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 29px;

  @media (min-width: $tablet-width) {
    width: 90%;
    max-width: 1050px;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

