.contact {
  position: relative;
  margin-bottom: 40px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-left: 1px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    max-width: 1050px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 65px 114px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 104px;
  }
}

.contact__info {
  padding-left: 28px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    width: 87%;
    padding: 0;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 24px;
    flex: 0 0 31%;
    margin: 3px 27px 57px 140px;
    order: 1;
    max-width: 326px;
  }
}

.contact__title {
  font-family: $text;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 99.5% 20px;
    font-size: 43px;
    line-height: 50px;
    padding-top: 34px;
    padding-bottom: 24px;
    margin-left: -6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    background: 0 0;
    margin-bottom: 24px;
    letter-spacing: -0.5px;
    margin-top: 34px;
    margin-left: 5px;
  }
}

.contact__address {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin: 0;
    min-width: 330px;
    padding-left: 10px;
    width: 330px;
  }
}

.contact__item {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  align-items: flex-start;
  color: $gray;
  font-family: $text;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  padding: 0;

  &--mail {
    margin: 0 0 30px 0;
  }

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    width: 50%;
    font-size: 17px;
    line-height: 30px;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    width: 100%;
  }
}

.contact__type {
  flex-basis: 30%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) and (max-width: 1149px) {
    flex-basis: 23.2%;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    margin-right: 26px;
  }
}

.contact__mail {
  display: block;
  font-weight: 400;
  font-size: 15px;
  font-family: $text;
  font-style: normal;
  line-height: 29px;
  color: $gray;
  border-bottom: 1px solid $aquamarine-bottom;
  text-decoration: none;
  letter-spacing: -0.1px;

  &:hover {
    color: $aquamarine-dark--hover;
    border-bottom-color: $aquamarine-bottom;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    letter-spacing: -0.1px;
  }
}

.contact__text {
  flex-basis: 70%;
  margin: 0;
  padding: 0;
  margin-left: -1px;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    width: 70%;
    font-size: 17px;
    line-height: 30px;
  }
}

.contact__wapper-btn {
  @media (min-width: $desktop-width) {
    width: 230px;
    min-width: auto;
    margin-left: 175px;
    padding: 0;
    order: 3;
  }
}

.contact__btn {
  min-width: 225px;
  margin: 38px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 55px;
    padding-right: 0;
    padding-left: 0;
    width: 230px;
    letter-spacing: -0.7px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 102px;
    margin-bottom: 3px;
  }
}

.contact__btn--mobile {
  @media (min-width: 1150px) {
    display: none;
  }
}

.contact__map {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 30px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
    order: 2;
  }
}
