$copyright-text: Verdana,Geneva,Arial,sans-serif;
$copyright-color: #000000;
$color-logo: #46c1ae;
$tablet-width: 768px;
$desktop-width: 1150px;

.footer-copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 26px;
  text-decoration: none;
  text-align: center;
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 3px 0 0 0;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin-right: 1px;
  }
}
.footer-copyright__text {
  justify-content: center;
  font-family: $copyright-text;
  font-weight: 700;
  font-size: 1.125rem;
  vertical-align: middle;
  color: $copyright-color;
  line-height: 1.125rem;  
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
.footer-copyright__htmlacademy {
  margin-left: 30px;
  width: 27px;
  height: 34px;
  fill: $color-logo;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-right: -8px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-right: -8px;
  }
}
