.footer-copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 26px;
  text-decoration: none;
  text-align: center;
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 3px 0 0 0;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin-right: 1px;
  }
}
.footer-copyright__text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: $copyright-text;
  font-weight: 700;
  font-size: 1.125rem;
  vertical-align: middle;
  color: $black;
  line-height: 1.125rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-copyright__htmlacademy {
  margin-left: 30px;
  width: 27px;
  height: 34px;
  fill: $color-logo;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-right: -8px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-right: -8px;
  }
}
