.footer {
  background: $grey-light;
  border: 1px solid transparent;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.footer__wapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    width: auto;
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 41px 63px 44px 48px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 1150px;
    padding: 42px 50px 44px 50px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 7px;
    transform: translate(0);
    cursor: pointer;
  }

  @media (min-width: 1150px) {
    margin-left: 1px;
    padding-bottom: 1px;
  }
}

.footer__logo--svg {
  @media (min-width: $tablet-width) {
    width: 99px;
    margin-top: -8px;
  }
}

.footer__logo:hover,
.footer__copyright:hover,
.footer__icon:hover {
  fill: $active-img;
}

.footer__copyright:active,
.footer__logo:active,
.footer__icon:active {
  opacity: 0.3;
}

.footer__social {
  padding: 23px 0 19px 2px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 11px;
  }
}

.footer__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 20px;
}

.footer__icon {
  cursor: pointer;
}

.footer__icon-svg {
  width: 24px;
}

.footer__copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    width: 261px;
    height: 1px;
    background-color: $shadow;
    bottom: 80px;

    @media (min-width: $tablet-width) {
      width: 0;
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 1px;
  }
}

.footer__copyright-text {
  justify-content: center;
  font-family: $text;
  font-weight: 700;
  font-size: 19px;
  vertical-align: middle;
  color: $black;
  line-height: 18px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__copyright-htmlacademy {
  margin-left: 29px;
  margin-right: 3px;
  width: 27px;
  height: 34px;
  fill: $aquamarine;
  padding-top: 2px;

  &:hover {
    fill: $aquamarine-dark--hover;
  }

  @media (min-width: $tablet-width) {
    margin-right: -14px;
    margin-left: 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 3px 2px 0 26px;
  }
}
