.footer {
  background: $grey-light;
  border: 1px solid transparent;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
.footer__wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    width: auto;
    min-height: 143px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 41px 63px 44px 48px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 1150px;
    padding: 44px 50px;
  }
}
.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    top: 0;
    left: 0;
    display: block;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 7px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  @media (min-width: 1150px) {
    margin-left: 1px;
  }
}
.footer__logo--svg {
  @media (min-width: $tablet-width) {
    width: 99px;
    margin-top: -8px;
  }
}
.footer__logo:hover,
.footer__copyright:hover,
.footer__icon:hover {
  fill: $active-img;
}
.footer__copyright:active,
.footer__logo:active,
.footer__icon:active {
  opacity: 0.3;
}
.footer__social {
  border-bottom: 1px solid $shadow;
  padding: 26px 0 20px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px 0;
  }
}
.footer__item {
  display: inline-block;
  vertical-align: top;
}
.footer__icon-svg {
  width: 24px;
  margin-left: 12px;
  margin-right: 18px;
}
.footer__copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 26px;
  text-decoration: none;
  text-align: center;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin-right: 1px;
  }
}
.footer__copyright-text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: $text;
  font-weight: 700;
  font-size: 19px;
  vertical-align: middle;
  color: $black;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__copyright-htmlacademy {
  margin-left: 28px;
  width: 27px;
  height: 34px;
  fill: $aquamarine;

  &:hover {
    fill: $aquamarine-dark--hover;
  }

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-right: -12px;
    margin-left: 28px;
  }
  @media (min-width: $desktop-width) {
    margin: 3px 2px 0 23px;
  }
}
