.header-information {
  display: none;
  @media (min-width: $desktop-width) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 0 0 19px;
    text-align: right;
    letter-spacing: 0.3px;
    white-space: pre-line;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
  }
}
.header-information__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 55px 29px 0;
  background-color: transparent;
}
.header-information__link {
  display: block;
  font-size: 15px;
  position: relative;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  font-family: $text;
  color: $black;
  font-style: normal;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
