$color-body: #ffffff;
$color-shadow: #e5e5e5;
$color-gray: #f1f1f1;
$color-promo: #f9f9f9;
$tablet-width: 768px;
$desktop-width: 1150px;

.header {
  background-color: $color-body;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 89px;
    overflow: visible;
    box-shadow: inset 0 -1px 0 0 $color-shadow;
  }
}

.header::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1150px;
    max-width: 1150px;
    height: 1px;
    margin-left: -575px;
    background-color: $color-shadow;
  }
}
    
