.header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $text-link;
  font-style: normal;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 2px;
  }

  &::after {
    content: none;
    position: absolute;
    top: 0;
    left: 500px;
    width: calc(50vw - 575px);
    height: 100%;
    background-color: $white;
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}
.header-user__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 0 29px 75px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -1px 0 0 $shadow;
  box-shadow: inset 0 -1px 0 0 $shadow;

  @media (min-width: $tablet-width) {
    min-width: 83px;
    padding: 31px 0 34px 33px;
    -webkit-box-shadow: inset 1px 0 0 0 $shadow;
    box-shadow: inset 1px 0 0 0 $shadow;
  }
}
.header-user__link--svg {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 35px;
  top: 30px;
  fill: #d3d2d2;

  @media (min-width: $tablet-width) {
    top: 35px;
    left: auto;
  }
}
.header-user__link--svg:hover {
  fill: #63d1bb;
}
.header-user__block--basket {
  @media (min-width: $tablet-width) {
    padding: 31px 0 34px 86px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 1px 34px 82px;
  }
}
.header-user__link--cart {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 35px;
  top: 110px;

  @media (min-width: $tablet-width) {
    left: auto;
    top: 34px;
    right: 218px;
  }
  @media (min-width: $desktop-width) {
    width: 20px;
    height: 19px;
    top: 34px;
    right: 214px;
  }
}
.header-user__link {
  display: block;
  color: $black;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
