.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.9);

  &--open {
    display: block;
  }
}

.modal-cart {
  box-sizing: border-box;
  padding: 31px 30px 40px;
  width: 320px;
  border: 1px solid $grey-light;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 568px;
  }
}

.modal-cart__wapper {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 78px 0 78px;
  }
}

.modal__form-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.modal-cart__title {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $text;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 12px;
}

.modal-cart__paragraph {
  margin: 12px 0 23px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $text;
  text-align: center;
  color: $black;
  font-style: normal;
}

.modal-form {
  border: none;
  margin: 0 0 25px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.modal-form__fieldset {
  margin: 0;
  padding: 23px 0;
  border: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    padding: 22px 78px;
  }
}

.modal-form__legend {
  padding: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 15px;
  font-family: $text;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.modal-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.modal-form__label {
  box-sizing: border-box;
  padding: 16px 10px 15px;
  width: 82px;
  box-shadow: inset 0 0 0 2px $grey-light;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  margin-right: 7px;

  @media (min-width: $tablet-width) {

    width: 112px;
  }
}

.modal-form__radio:focus + .modal-form__label {
  box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 0.3);
  outline: auto 5px highlight;
}

.modal-form__radio:hover + .modal-form__label {
  box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 0.3);
}

.modal-form__radio:checked + .modal-form__label {
  box-shadow: inset 0 0 0 2px $aquamarine;
}

.modal-form__button-wrapper {
  margin: 0;
  padding: 0;
}

.modal-form__button {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  font-size: 17px;
  color: $white;
  background-color: $aquamarine;
  box-shadow: none;
  width: 100%;
  border: none;
}
