.products {
  margin-top: 30px;
}

.products .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 128px;
    padding-left: 48px;
  }
}

.product {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 30%;
    flex-flow: column nowrap;
    margin-right: 4.76%;
    margin-bottom: 57px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product:nth-child(3n) {
  margin-right: 0;
}

.product__link {
  @media (min-width: $tablet-width) {
    flex: 0 0 50%;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 auto;
  }
}

.product__img {
  background-color: $grey-light;
  width: 100%;
  display: block;
}

.product__card {
  box-sizing: border-box;
  padding: 26px 27px 0 27px;
  min-width: 260px;
  border: 1px solid $btn-border;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px 32px 11px 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 25px 9px 27px;
    width: 100%;
    min-height: 197px;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--card {
    margin-bottom: 8px;

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
  }
}

.product__title-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__text {
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-family: $text;
  color: $gray;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 15px;
    letter-spacing: normal;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    letter-spacing: normal;
  }
}

.product__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  border-top: 1px solid $btn-border;
  padding: 21px 0 27px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    padding-bottom: 16px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 5px 17px 0;
  }
}

.product__price {
  margin: 0;
  font-family: $text;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.product__order {
  width: 20px;
  height: 19px;
  fill: $color-svg;

  &:hover {
    fill: $color-svg-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__svg {
  overflow-x: hidden;
  width: 20px;
  height: 19px;
  pointer-events: none;
}

.product__container {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}
