$calor-video: #62d1ba;
.product-video {
  box-sizing: border-box;
  position: relative;
  padding-top: 20px;
  border: 1px solid #ececec;
}
.product-video__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 24px;
  padding-left: 89px;

  &::before {
    content: "";
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }
}
.product-video__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.product-video__content {
  display: block;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  background-color: $calor-video;
  background-repeat: no-repeat;
}
.product-video__button {
  position: absolute;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  width: 101px;
  height: 77px;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
}
.product-video__description-wrapper {
  padding: 14px 34px 32px;
}
.product-video__description {
  font-size: 13px;
  margin: 13px 0;
}
.product-video__btn {
  margin-top: 25px;
}