$text: Open Sans, arial, sans-serif;
$text-subtitle: Open Sans, arial, sans-serif;
$text-buy: Verdana, Geneva, Arial, sans-serif;
$text-product: "Open Sans", Arial, Helvetica, sans-serif;
$text-btn: "Open Sans", Arial, sans-serif;
$text-title: Verdana, Geneva, Arial, sans-serif;
$comment-text: "Open Sans", Arial, Helvetica, sans-serif;
$author-text: "Open Sans", Arial, Helvetica, sans-serif;
$address-text: "Open Sans", Arial, Helvetica, sans-serif;
$text-item: "Open Sans", Arial, Helvetica, sans-serif;
$mail-text: "Open Sans", Arial, Helvetica, sans-serif;
$copyright-text: Verdana, Geneva, Arial, sans-serif;
$text-form: "Open Sans", Arial, Helvetica, sans-serif;
$text-label: Verdana, Geneva, Arial, sans-serif;
$text-checkbox: Verdana, Geneva, Arial, sans-serif;
$text-link: "Open Sans", Arial, Helvetica, sans-serif;
$text-link: "Open Sans", Arial, Helvetica, sans-serif;
$text-link: "Open Sans", Arial, Helvetica, sans-serif;
$text-link: "Open Sans", Arial, Helvetica, sans-serif;
$info-block-text: "Open Sans", Arial, Helvetica, sans-serif;
$text-card: "Open Sans", Arial, Helvetica, sans-serif;
$table-text: "Open Sans", Arial, Helvetica, sans-serif;
